## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import date %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li>About Us</li>
          <li>Contacts</li>
        </ol>
      </nav>
    </div>

    <div class="references" id="my">
      <a href="http://code.edx.org"><img src="${static.url('themes/default/images/logo-open-edx.png')}" height="50" alt="Open Edx" /></a>
    </div>

    <div class="copyright">
        <p><span>&copy; 2010-2016 by MyLandingPage - your modern professional one page website in just a few days</span> <br> Made with &hearts; by <a href="http://mylandingpage.website" target="_blank">mylandingpage.website</a></p>
    </div>
  </footer>
</div>
