## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
   <footer id="footer" class="site-footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h3 class="text-left">About Us</h5>
                    <p class="text-left">Aenean dictum semper erat sit amet accumsan. Nullam dignissim ex eu purus vestibulum maximus. </p>
            </div>

            <div class="col-md-3">
                <h3 class="text-left">Contacts</h5>
                    
                        <div class="address text-left" itemscope itemtype="http://schema.org/LocalBusiness">
                        <div itemprop="name"></div>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress"></span>
                        <span itemprop="addressLocality"></span>
                        <span itemprop="addressRegion"></span>
                        <meta itemprop="addressCountry" content="RU"/>
                        </div>
                        Working time:
                        <time itemprop="openingHours" datetime="Mo, Tu, We, Th, Fr, Sa, Su 10:00-19:00">10:00 - 19:00 Everyday</time>
                        <a href="tel:" itemprop="telephone"></a>
                        <a href="&#109;&#x61;&#x69;&#108;&#116;&#x6f;&#58;&#109;&#97;&#105;&#108;&#x40;&#x65;&#x6d;a&#x69;&#108;.&#99;&#x6f;&#x6d;" itemprop="email">&#109;&#x61;&#105;&#108;&#x40;&#101;&#109;&#x61;&#105;&#108;&#x2e;&#x63;o&#109;</a>
                        <a href="" itemprop="url"></a>
                        </div>
            </div>

            <div class="col-md-3">

                <form action="http://dev.datascience-school.com/#subscribe" method="post" id="subscribe">
                    <div class="input-group">
                        <input type="email" name="EMAIL" class="form-control" placeholder="Enter email" value="">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-danger" name="mmc_subscribe" value="Subscribe">
                        </span>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                 <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
                 <img src="${static.url('themes/default/images/logo-open-edx.png')}"alt="Edx Logo" />
            </div>
        </div>

        
    
        <div class="copyright">
            <p><span>&copy; 2010-2016 by MyLandingPage - your modern professional one page website in just a few days</span> <br> Made with &hearts; by <a href="http://mylandingpage.website" target="_blank">mylandingpage.website</a></p>
        </div>
            
    </div>
</footer>
</div>
